#-------------------------------------------------------------------------------
# Clock, reset
#
NET "clock"         LOC = "A10" ;
NET "reset_n"       LOC = "A15"  | PULLUP ;
NET "testMode"      LOC = "T10";

#-------------------------------------------------------------------------------
# Buttons, V1 board
#
#NET "restart_n"     LOC = "E8" ;
#NET "go1_n"         LOC = "G9" ;
#NET "go2_n"         LOC = "F9" ;
#NET "button4_n"     LOC = "F7" ;

#-------------------------------------------------------------------------------
# Buttons, V2 board
#
NET "restart_n"     LOC = "G9" ;
NET "go1_n"         LOC = "F9" ;
NET "go2_n"         LOC = "F7" ;
NET "button4_n"     LOC = "F8" ;

#-------------------------------------------------------------------------------
# Sensors
#
NET "sensor1_n"     LOC = "B6"  ;
NET "sensor2_n"     LOC = "A6"  ;
NET "encoderA_n"    LOC = "G4"  ;
NET "encoderB_n"    LOC = "E2"  ;
NET "encoderI_n"    LOC = "G3"  ;

#-------------------------------------------------------------------------------
# Motor control
#
NET "motorOn"       LOC = "B3"  ;
NET "side1"         LOC = "G6"  ;
NET "side2"         LOC = "C5"  ;

#-------------------------------------------------------------------------------
# LEDs, V1 board
#
#NET "LED1"          LOC = "B16";
#NET "LED2"          LOC = "A16";
#NET "LEDs_n<1>"     LOC = "E7" ;
#NET "LEDs_n<2>"     LOC = "B14";
#NET "LEDs_n<3>"     LOC = "B13";
#NET "LEDs_n<4>"     LOC = "B11";
#NET "LEDs_n<5>"     LOC = "A8" ;
#NET "LEDs_n<6>"     LOC = "C7" ;
#NET "LEDs_n<7>"     LOC = "A14";
#NET "LEDs_n<8>"     LOC = "A11";

#-------------------------------------------------------------------------------
# LEDs, V2 board
#
NET "LED1"          LOC = "B16";
NET "LED2"          LOC = "A16";
NET "LEDs<1>"     LOC = "E9" ;
NET "LEDs<2>"     LOC = "A8";
NET "LEDs<3>"     LOC = "F11";
NET "LEDs<4>"     LOC = "B11";
NET "LEDs<5>"     LOC = "B13";
NET "LEDs<6>"     LOC = "B14";
NET "LEDs<7>"     LOC = "E7" ;
NET "LEDs<8>"     LOC = "E8" ;

#-------------------------------------------------------------------------------
# LCD
#
NET "LCD_CS1_n"     LOC = "A11";
NET "LCD_SCL"       LOC = "D7" ;
NET "LCD_SI"        LOC = "C7" ;
NET "LCD_A0"        LOC = "A14";
NET "LCD_RST_n"     LOC = "A13";

#-------------------------------------------------------------------------------
# Globals
#
NET "*" IOSTANDARD = LVCMOS33;
